@media screen and (max-width:1024px) and (min-width:640px) {
  reglas CSS 
  .display: none; 
}

.instruction {
	font-size: 20px;
	text-align: center;
	padding-top: 70px;
	margin: auto;
	background-position: center;
}

.instruction2 {
	font-size: 25px;
	color: white;
	margin: auto;
	text-align: center;
	background: #295760;
	border: 2px solid #011638;
}

.instruction3 {
	font-size: 25px;
	color: white;
	margin-top: 10px;
	text-align: center;
	background: #295760;
	border: 2px solid #011638;
}

.title1 {
	color: orange;
 	text-align: left;
 	width: auto;
 	height: 50px;
 	margin-top: 1px;
 	padding-bottom: 10px;
 	padding-top: 0px;

}


.title2 {
	margin: auto;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: black;
	text-align: center;
} 

h1, h2, h3 {
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

h1, h2 { 
	color: red; 
	margin: auto;
}
h3 { 
	color: darkblue ; 
	margin: auto;
}

h1 {
	box-sizing: 20px;
	margin-bottom: 30px;
	color: blue;
  	background-color: orange;
 	border: 5px solid darkblue;
}

.bluebutton {
	color: white;
	background-color: darkblue;
	border-top: 20px;
	width: 150px;
	height: 30px;
	font-size: 20px;
	display: inline;
}

.beisbutton1 {
	color: black;
	background-color: #ECFEAA;
	all padding: 10px; 
	margin-bottom: 20px;
	padding-bottom: 5px;
	width: 180px;
    height: 30px;
    font-size: 15px;
    font: center;
    font-family: serif;
}

.beisbutton2 {
	color: black;
	background-color: #ECFEAA;
	all padding: 10px; 
	margin-bottom: 20px;
	padding-bottom: 5px;
	width: 400px;
    height: 200px;
    font-size: 20px;
    font: center;
}

.image {
	width: 270px;
	height: 300px;
	float: right;
	padding-top: 100px;
}

.image1 {
	width: 300px;
	height: 250px;
	float: left;
	padding-top: 130px;
}

.hide {
	display: none;
}

